# 기초상품 추천 코드 구현해보기
주어진 데이터를 활용하여 유저 아이디와 원하는 제품 유형을 입력하면   
해당 유저와 유사도가 높은 유저의 평점 높은 제품을 추천해주는 함수 만들기

* 유저데이터 파일명 : user_data
* 제품데이터 파일명 : product_data

In [1]:
import numpy as np

In [40]:
import pandas as pd

#유저데이터 불러오기
u_data = 'user_data.csv'

#제품데이터 불러오기
p_data = 'product_data.csv'

In [41]:
df1=pd.read_csv(u_data)
df2=pd.read_csv(p_data)

In [42]:
#product_id 기준으로 유저,제품 데이터 합쳐서 df에 저장하고 user_id를 기준으로 오름차순 정렬

df = pd.merge(df1, df2, on='product_id', how='inner')  
df.head()
df.shape

(1625, 8)

In [43]:
#각 유저가 제품에 남긴 평점들로 이루어진 데이터 프레임(df_users) 만들기 인덱스:user_id, 컬럼명:product_id
df_users=df.pivot(index='user_id', columns='product_id', values='rating')
df_users.fillna(0, inplace=True)

df_users.head()

product_id,1,2,3,4,5,6,7,8,9,10,...,47,48,53,54,55,56,57,58,59,60
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,2.0,0.0,5.0,0.0,2.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
2,2.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,2.0,0.0,0.0,4.0,3.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0
5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
# pivot을 이용하여 데이터프레임 재구조화
df_users = df.pivot(index='user_id', columns='product_id', values='rating')
df_users.fillna(0, inplace=True)

# 코사인 유사도 계산
cos_matrix = cosine_similarity(df_users)

print(cos_matrix)

[[1.         0.40012313 0.1252927  ... 0.30848211 0.3459179  0.36661284]
 [0.40012313 1.         0.11572394 ... 0.23331924 0.35708791 0.1336198 ]
 [0.1252927  0.11572394 1.         ... 0.41295068 0.22730123 0.3209549 ]
 ...
 [0.30848211 0.23331924 0.41295068 ... 1.         0.11153217 0.44472697]
 [0.3459179  0.35708791 0.22730123 ... 0.11153217 1.         0.2124609 ]
 [0.36661284 0.1336198  0.3209549  ... 0.44472697 0.2124609  1.        ]]

In [46]:
#위에서 계산한 cos_matrix를 데이터프레임으로 만듭니다. 
df_users_cosine=pd.DataFrame(cos_matrix, index=df_users.index, columns=df_users.index)
df_users_cosine.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.400123,0.125293,0.207675,0.482547,0.380319,0.369234,0.383498,0.221796,0.399118,...,0.434633,0.334452,0.595550,0.253139,0.319114,0.306267,0.262462,0.308482,0.345918,0.366613
2,0.400123,1.000000,0.115724,0.120263,0.249239,0.376725,0.173025,0.343914,0.236099,0.207810,...,0.258630,0.229571,0.234288,0.260969,0.268025,0.231224,0.212220,0.233319,0.357088,0.133620
3,0.125293,0.115724,1.000000,0.369691,0.291713,0.446218,0.331756,0.424089,0.227104,0.211486,...,0.383364,0.406316,0.213431,0.223946,0.202478,0.465690,0.364225,0.412951,0.227301,0.320955
4,0.207675,0.120263,0.369691,1.000000,0.277859,0.324295,0.409324,0.292269,0.236508,0.470240,...,0.175572,0.305150,0.238145,0.279811,0.166753,0.314918,0.179917,0.400668,0.118563,0.371733
5,0.482547,0.249239,0.291713,0.277859,1.000000,0.236251,0.226056,0.212139,0.107291,0.190052,...,0.277078,0.338386,0.252079,0.190109,0.321135,0.375013,0.154596,0.053014,0.202983,0.285968

## 입력한 아이디의 유저와 비슷한 유저가 만족한 제품 추천하는 함수 만들기
1. df_users_cosine에서 입력한 아이디와 유사도 높은 5명을 sim_users로 지정
2. df에서 user_id가 sim_users의 인덱스와 일치하는 값들을 sim_user_df에 할당
3. sim_user_df에서 입력한 product_type과 일치하는 값들을 지정하고 rating을 기준으로 내림차순한 결과를 products에 할당
4. products에서 rating 4점 이상인 값들만 다시 products에 할당
5. products에서 product_name이 중복인 것은 첫번째 값만 남김
6. products의 product_name을 데이터 프레임 result로 만듦 (컬럼명은 나와 비슷한 사용자가 만족한(입력한 제품타입)제품)
7. 함수 마지막에 print(result) 출력

In [47]:
#반드시 skeleton 코드에 맞춰서 작성하지 않아도 됨. 단, 작성한 코드에 대해 어떤 알고리즘으로 결과가 나오게 했는지 설명할 수 있어야함. 

def user_based_recommend(user_id, product_type):
    sim_users = df_users_cosine[user_id].sort_values().head()

    sim_user_df = df[df['user_id'] == sim_users.index[0]]
    for i in range(1,5):
        sim_user_df = pd.concat([sim_user_df, df[df['user_id'] == sim_users.index[i]]],ignore_index=True)
    products = sim_user_df[sim_user_df['product_type'] == product_type]
    products = products[products['rating']>=4]
    products = products.drop_duplicates(subset='product_name', keep='first')
    result = pd.DataFrame(products['product_name'].values, columns=[f'나와 비슷한 사용자가 만족한 {product_type}제품'])
    print(result)

user_based_recommend(10,'앰플')
user_based_recommend(1,'크림')

                   나와 비슷한 사용자가 만족한 앰플제품
0  성분에디터 그린토마토 포어 리프팅 앰플 플러스 30ml 더블 기획
1                 웰라쥬 리얼 히알루로닉 블루100 앰플
2               바이오힐보 판테셀 리페어시카 앰플 30mL
3                  피지오겔 사이언수티컬즈 데일리뮨 앰플
                          나와 비슷한 사용자가 만족한 크림제품
0  아비브 부활초 크림 뉴트리션 튜브 75ml 기획 (부활초 크림 30ml 증정)
1                               메이크프렘 인테카 수딩크림
2                     브이앤에이뷰티 안티옥시던트 하이드레이션 크림
3                         에스네이처 아쿠아 스쿠알란 수분크림
4                   구달 청귤 비타C 잡티케어 크림 리필에디션 기획
5                      토리든 다이브인 저분자 히알루론산 수딩크림